<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>圈子-注册</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron" style="background-color: #216ab3;margin-top: 10rem;">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h2>用户注册</h2>
                <form role="form" id="register" action="/login/user" method="post">
                    <div class="form-group">
                        <label for="account">帐号：
                            <input type="text" class="form-control" id="account" name="account"
                                   v-model="formData.account.value" placeholder="账户名" />
                        </label>
                        <span  v-html="checkAccount"></span>
                    </div>
                    <div class="form-group">
                        <label for="username">姓名：
                            <input type="text" class="form-control" id="username" name="username"
                                   v-model="formData.username.value" placeholder="真实姓名"/>
                        </label>
                        <span v-html="checkUsername"></span>
                    </div>
                    <div class="form-group">
                        <label for="mobilePhone">手机号码：
                            <input type="tel" class="form-control" id="mobilePhone" name="mobilePhone"
                                   v-model="formData.mobilePhone.value" placeholder="11位手机号码"/>
                        </label>
                        <span v-html="checkMobilePhone"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">密码：
                            <input type="password" class="form-control" id="password" name="password"
                                   v-model="formData.password.value"/>
                        </label>
                        <span v-html="checkPassword"></span>
                    </div>
                    <div class="form-group" >
                        <label for="re_password">重新输入密码：
                            <input type="password" class="form-control" id="re_password"
                                   v-model="formData.rePassword.value"/>
                        </label>
                        <span v-html="checkRePassword"></span>
                    </div>
                    <button type="button" class="btn btn-default" v-on:click="submitRegister">注册</button>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>


<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 生产环境版本，优化了尺寸和速度 -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/js/custom/register.js"></script>
</body>
</html>